.table-view {
    -fx-background-color: transparent;
}

.label {
    -fx-background-color: transparent;
}

.root {
    -fx-font: 18px "Comic Sans MS";
}

.column-header-background {
    -fx-background-color: azure;
}

.willPayRow {
    -fx-background-color: palegreen;
}

.wontPayRow {
    -fx-background-color: coral;
}

.willPayCell {
    -fx-background-color: forestgreen;
}

.wontPayCell {
    -fx-background-color: firebrick;
}

.table-row-cell:empty {
    -fx-background-color: cornsilk;
}

.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}

.button {

    -fx-effect: dropshadow(one-pass-box, black, 8, 0.0, 2, 0);
}